.button {
  border: none;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  font-weight: 400;
  outline: none;
  padding: 1rem;
  @media screen and (min-width: $lg-responsive) {
    font-size: 1rem;
  }
}

.button_color_brown {
  color: $title-color;
}

.button_bg-color_yellow {
  background-color: $second-color;
}
