@import "fonts";

body {
  background-color: #333;
  font-family: Roboto;
  font-weight: 200;
  span {
    color: red;
    display: flex;
  }
  background-image: linear-gradient(green, yellow);
}

@media (max-width: 768px) {
  span {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  body {
    background-image: linear-gradient(green, white);
  }
}
