.testimonial {
  background-color: $container-color;
  padding: 2.62rem 1.5rem 6rem 1.5rem;
  scroll-margin: 62px;
  @media screen and (min-width: $burger-responsive) {
    scroll-margin: 0px;
  }
  @media screen and (min-width: $sm-responsive) {
    padding: 2.62rem 1.5rem 8rem 1.5rem;
  }
  @media screen and (min-width: $md-responsive) {
    padding: 4rem 3rem 9rem 3rem;
  }
  @media screen and (min-width: $lg-responsive) {
    padding: 4rem 4.5rem 10.25rem 4.5rem;
  }

  .testimonial__inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: space-between;
    margin: auto;
    max-width: 500px;
    @media screen and (min-width: $md-responsive) {
      flex-direction: row;
      max-width: 1120px;
    }

    .testimonial__text {
      display: flex;
      flex-direction: column;
      gap: 1.75rem;
      @media screen and (min-width: $md-responsive) {
        gap: 3rem;
        flex: 1;
        max-width: 520px;
      }

      .testimonial__text-p {
        @media screen and (min-width: $md-responsive) {
          text-align: left;
        }
      }
    }

    .testimonial__img-container {
      @media screen and (min-width: $md-responsive) {
        flex: 1;
      }
      .testimonial__img {
        display: block;
        max-width: 100%;
        width: auto;
      }
    }
  }
}
