$first-color: #492d26;
$first-color-alt: #2b1712;
$first-color-light: #65463e;
$second-color: #ddb66f;
$title-color: #2e2624;
$text-color: #5b4c48;
$text-color-light: #847571;
$white-color: #ffffff;
$body-color: #ffefeb;
$container-color: #ffffff;

$burger-responsive: 500px;
$sm-responsive: 576px;
$md-responsive: 768px;
$lg-responsive: 992px;
